<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-adicional-heading"
        data-cy="AdicionalCreateUpdateHeading"
        jhiTranslate="webTechDevicesBackApp.adicional.home.createOrEditLabel"
      >
        Crear o editar Adicional
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="webTechDevicesBackApp.adicional.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="webTechDevicesBackApp.adicional.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="webTechDevicesBackApp.adicional.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        @let precioRef = editForm.get('precio')!;
        <div class="mb-3">
          <label class="form-label" for="field_precio" jhiTranslate="webTechDevicesBackApp.adicional.precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
          @if (precioRef.invalid && (precioRef.dirty || precioRef.touched)) {
            <div>
              @if (editForm.get('precio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let precioGratisRef = editForm.get('precioGratis')!;
        <div class="mb-3">
          <label class="form-label" for="field_precioGratis" jhiTranslate="webTechDevicesBackApp.adicional.precioGratis"
            >Precio Gratis</label
          >
          <input
            type="number"
            class="form-control"
            name="precioGratis"
            id="field_precioGratis"
            data-cy="precioGratis"
            formControlName="precioGratis"
          />
          @if (precioGratisRef.invalid && (precioGratisRef.dirty || precioGratisRef.touched)) {
            <div>
              @if (editForm.get('precioGratis')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precioGratis')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dispositivo" jhiTranslate="webTechDevicesBackApp.adicional.dispositivo">Dispositivo</label>
          <select
            class="form-control"
            id="field_dispositivo"
            data-cy="dispositivo"
            name="dispositivo"
            formControlName="dispositivo"
            [compareWith]="compareDispositivo"
          >
            <option [ngValue]="null"></option>
            @for (dispositivoOption of dispositivosSharedCollection; track $index) {
              <option [ngValue]="dispositivoOption">{{ dispositivoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
